{% extends "base.html" %}
{% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/contact.css') }}"
/>
{% endblock %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="container-fluid d-flex justify-content-center">
  <div class="col-lg-6 pt-3 my-5">
    <h1 class="text-center">Contact us</h1>
    <div class="row justify-content-center">
      <a
        href="https://www.facebook.com/thanhdevil"
        class="badge col-sm-10 col-md-7 col-lg-5 d-inline-flex justify-content-center facebook"
      >
        <div class="d-flex flex-column my-auto">
          <i class="fab fa-facebook-f fa-5x"></i>
          <span class="m-3">Facebook</span>
        </div>
      </a>
      <a
        href="https://www.instagram.com/thanhdevil9699"
        class="badge col-sm-10 col-md-7 col-lg-5 d-inline-flex justify-content-center instagram"
      >
        <div class="d-flex flex-column my-auto">
          <i class="fab fa-instagram fa-5x"></i>
          <span class="m-3">Instagram</span>
        </div>
      </a>
      <a
        href="https://github.com/thanhdevil9699"
        class="badge col-sm-10 col-md-7 col-lg-5 d-inline-flex justify-content-center github"
      >
        <div class="d-flex flex-column my-auto">
          <i class="fab fa-github fa-5x"></i>
          <span class="m-3">Github</span>
        </div>
      </a>
      <a
        href="#"
        class="badge col-sm-10 col-md-7 col-lg-5 d-inline-flex justify-content-center discord"
      >
        <div class="d-flex flex-column my-auto">
          <i class="fab fa-discord fa-5x"></i>
          <span class="m-3">Discord</span>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}