{% extends "base.html" %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
{{ dropzone.load_css() }} {{ dropzone.style('border: 2px dashed #0087F7; margin:
5%;') }} {% endblock %} {% block title %}3HEROES{% endblock %} {% block content
%}
<div class="container-fluid d-flex justify-content-center">
  <div class="col-lg-5 py-5 my-5">
    <h1 class="logo display-2 text-center">3HEROES</h1>
    <h5 class="description display-block text-center">
      A study of a system to gather Android application information.
    </h5>
    {{ dropzone.create(action=url_for('home')) }} {{ dropzone.load_js() }} {{
    dropzone.config() }}
  </div>
</div>
{% endblock %}
