{% extends "base.html" %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/resultzip.css') }}"
/>
{% endblock %} {% block title %}Result{% endblock %} {% block content %}
<div class="container">
  <div class="row my-3">
    <div class="col-4 col-lg-2">
      <img
        src="https://image.flaticon.com/icons/png/512/1465/1465628.png"
        class="img-fluid"
        alt=""
      />
    </div>
    <div class="col-8 col-lg-10">
      <h5>ZIP FILE INFO</h5>
      <div class="d-flex flex-column"></div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12">
      <h5>DETAIL</h5>
      <div class="d-flex flex-column">
        <h6>All files</h6>
        {% for name in nameArr %} {% if md5Arr[nameArr.index(name)] != None %}
        <a href="{{ url_for('resultapk', md5 = md5Arr[nameArr.index(name)] )}}"
          >{{ name }}</a
        >{% endif %} {% if md5Arr[nameArr.index(name)] == None %}
        <a href="{{ url_for('invalidapk') }}">{{ name }}</a>{% endif %} {%
        endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
